/* Layout Nodal */
#node-graph-area {
    background-color: #111;
    background-image: radial-gradient(#333 1px, transparent 1px);
    background-size: 20px 20px;
    flex: 1;
    position: relative;
    overflow: hidden;
}

/* Un Noeud (Node) */
.fusion-node {
    width: 120px;
    height: 60px;
    background-color: #252525;
    border: 1px solid #555;
    border-radius: 6px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    cursor: grab;
}
.fusion-node.active { border-color: orange; }

/* Connecteurs */
.node-input, .node-output {
    width: 10px; height: 10px;
    background: #777;
    border-radius: 50%;
    position: absolute;
}
.node-input { left: -5px; top: 25px; background: green; }
.node-output { right: -5px; top: 25px; background: white; }