/* Error: expected "{".
 *    ,
 * 62 |   .animation-name("quantum-flux");
 *    |                                  ^
 *    '
 *   controllers/QuantumCompute.scss 62:34  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 62 \2502    .animation-name("quantum-flux");\a    \2502                                   ^\a    \2575 \a   controllers/QuantumCompute.scss 62:34  root stylesheet';
}
